<div id="top-ribbon">
  <div id="login">
    <%= render :partial => "login" %>
  </div>
  <div id="logo">
    <%= image_tag("scribbles-logo-mini.jpg") %>
  </div>
</div>
<div id="messages">
  <%= render :partial => "messages" %>
</div>

<table>
<tr>
  <td>
    <div id="menu">
      <%= render :partial => "menu" %>
    </div>
  </td>
  <td>
    <div id="textarea">
      <%= render :partial => "textarea" %>
    </div>
    <div id="comments">
      <%= render :partial => "comments" %>
    </div>
  </td>
</tr>
</table>

<style type="text/css">
  #top-ribbon { border-bottom:blue 1px solid; margin-left:auto; margin-right:auto; padding-bottom:5px; padding-top:5px; width:80%; }
  #logo { text-align:left }
  #login { float:right }
  #messages { width:80%; margin-left:auto; margin-right:auto }
</style>