<div id="outer_div">

  <h1 style="text-align:left">Registration</h1>
  
  <div id="form_border">
    <div id="form_register">
      <div id="description">
        Create a FREE account with no expiration!
      </div>
      <% form_remote_tag(:url => {:action => :register}) do -%>
        <table style="margin-left:auto; margin-right:auto">
          <tr>
            <td class="label"><%= label_tag "username" %></td>
            <td><%= text_field_tag "username" %></td>
          </tr>
          <tr>
            <td class="label"><%= label_tag "password" %></td>
            <td><%= password_field_tag "password" %></td>
          </tr>
          <tr>
            <td class="label"><%= label_tag "email" %></td>
            <td><%= password_field_tag "email" %></td>
          </tr>
        </table>
        <%= submit_tag "Register" %>
      <% end %>
    </div>
  </div>

</div>

<style type="text/css">
  #outer_div { width:700px; margin-left:auto; margin-right:auto }
  
  #form_border { background-color:#FFFFFF; border:#C3D9FF 1px solid; padding:3px; width:340px }
  #description { font-weight:bold; padding-bottom:10px; text-align:left }
  #form_register { background-color:#E8EEFA; padding:5px; text-align:center}
  
  .label { text-align:right }
</style>