<% if @files %>
  <% @files.each do |file| %>
    <div class="file">
       <img class="icon icon32" src="images/ext/doc.gif" />
       <div class="file_details">
              <p class="file_header">
                     <span class="file_name"><a href="/files/<%= file.document_id %>/<%= file.name %>"><%= File.basename(file.name) %></a></span> uploaded on <span class="file_time"><%= file.created_at.to_time.strftime("%b %d, %Y %I:%M %p") %></span></p>
              <p><%= file.description %></p>
       </div>
    </div>
  <% end %>
<% end %>