<div id="logo">
  <%= image_tag("scribbles-logo.jpg") %>
</div>

<div id="description">
  <p><b>Authors:</b> Linh Vo, Arash Motamedi, Shreedhar Sundaram</p>
  <p>Some description of the site goes here.</p>
</div>

<div id="form_container">
  <div id="login_border" class="border">
    <div id="login">
      <% form_remote_tag(:url => {:action => :login}) do -%>
        <table>
          <tr>
            <td class="label"><%= label_tag "username" %></td>
            <td><%= text_field_tag "username" %></td>
          </tr>
          <tr>
            <td class="label"><%= label_tag "password" %></td>
            <td><%= password_field_tag "password" %></td>
          </tr>
          <tr>
            <td class="label"><%= label_tag "e-mail" %></td>
            <td><%= text_field_tag "e-mail" %></td>
          </tr>
        </table>
        <%= submit_tag "Login" %>
      <% end %>
      <div id="login_warn">
        <%= render(:partial => "login_warn") %>
      </div>
    </div>
  </div>

  <div id="form_create_border" class="border">
    <div id="form_create">
      <p>Form to create temp account</p>
    </div>
  </div>
  <div class="clear"></div>
</div>

<style type="text/css">
  #description { text-align:left; width:700px; margin-left:auto; margin-right:auto; }
  
  #form_container { width:700px; margin-left:auto; margin-right:auto; }
  #login_border { float:left; width:48%; }
  #login { background-color:#E8EEFA; padding:5px }
  #login_labels { float:left; margin-right:5px; text-align:right; width:30% }
  #login_fields { float:left; text-align:left; width:49% }
  
  #form_create_border { float:left; width:49%; }
  #form_create { background-color:#E8EEFA; padding:5px }
  
  .border { background-color:#FFFFFF; border:#C3D9FF 1px solid; padding:3px; }
  .clear { clear:both }
  .label { text-align:right; width:45% }
</style>