<div id="logo">
  <%= image_tag("scribbles-logo.jpg") %>
</div>

<div id="description">
  <p><b>Authors:</b> Linh Vo, Arash Motamedi, Shreedhar Sundaram</p>
  <p>Some description of the site goes here.</p>
</div>

<div id="form_container">
  <div id="login_border" class="border">
    <div id="login">
      <h2 style="margin-top:5px">Sign in</h2>
      <% form_remote_tag(:url => {:action => "login"}) do -%>
        <table>
          <tr>
            <td class="label"><%= label_tag "username" %></td>
            <td><%= text_field_tag "username" %></td>
          </tr>
          <tr>
            <td class="label"><%= label_tag "password" %></td>
            <td><%= password_field_tag "password" %></td>
          </tr>
        </table>
        <%= submit_tag "Login" %>
      <% end %>
      <div id="login_warn">
        <%= render(:partial => "login_warn") %>
      </div>
      <span style="font-size:smaller">
        Don't have an account? <%= link_to "Register", :controller => "accounts", :action => "registration" %>
      </span>
    </div>
  </div>

  <div id="form_create_border" class="border">
    <div id="form_create">
      <h2 style="margin-top:5px; text-align:center">Temporary account</h2>
      <p>To create a temporary account that will expire in 7 days, just type your account name in the URL. For example:</p>
      <p><b>http://localhost:3000/myaccount</b></p>
      <p>Or just type your account name in the textbox below and click Create</p>
      <span style="text-align:center">
        <% form_tag(:action => "create_temp") do %>
          <%= text_field_tag "temp_account" %>
          <%= submit_tag "Create" %>
        <% end %>
      </span>
    </div>
  </div>
  <div class="clear"></div>
</div>

<style type="text/css">
  #description { text-align:left; width:800px; margin-left:auto; margin-right:auto; }
  
  #form_container { width:800px; margin-left:auto; margin-right:auto; }
  #login_border { float:left; width:48%; }
  #login { background-color:#E8EEFA; padding:5px; height:223px }
  #login_warn { text-align:center; margin-left:auto; margin-right:auto; width:80%; }
  
  #form_create_border { float:left; width:49%; }
  #form_create { background-color:#E8EEFA; padding:5px; height:223px; text-align:left }
  
  .border { background-color:#FFFFFF; border:#C3D9FF 1px solid; padding:3px; }
  .label { text-align:right; width:45% }
</style>